<style>
    @font-face {
      font-family: "Google Sans";
      font-weight: 400;
      src: url("https://fonts.gstatic.com/s/googlesans/v9/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2");
    }
    .btn-blue {
    }
  </style>
  <div style="margin: 0; padding: 0" bgcolor="#FFFFFF">
    <table
      width="100%"
      height="100%"
      style="min-width: 348px"
      border="0"
      cellspacing="0"
      cellpadding="0"
      lang="en"
    >
      <tbody>
        <tr height="32" style="height: 32px">
          <td></td>
        </tr>
        <tr align="center">
          <td>
            <div>
              <div></div>
            </div>
            <table
              border="0"
              cellspacing="0"
              cellpadding="0"
              style="padding-bottom: 20px; max-width: 516px; min-width: 220px"
            >
              <tbody>
                <tr>
                  <td width="8" style="width: 8px"></td>
                  <td>
                        <p>
                          Thank you for showing interest in our storytelling
                          platform. PFA an assessment test and submit the same on
                          the given upload link <b>within 3 days</b>.
                        </p>
                        <p>
                          We look forward to seeing you onboard, writing amazing
                          non-fiction stories grounded in Indian history, art and
                          culture.
                        </p>
                        <p>
                          <a href="{{login_url}}"
                            ><button
                              style="
                                background: rgb(236, 95, 95);
                                cursor: pointer;
                                padding: 10px;
                                color: #fff;
                                border: none;
                                border-radius: 4px;
                                font-family: Montserrat;
                              "
                            >
                              Join
                            </button></a
                          >
                        </p>
                        <p>
                          Regards, <br />
                          Team ThisDay
                        </p>
                      </div>
                    </div>
                    <div style="text-align: left">
                      <div
                        style="
                          font-family: Google Sans;
                          font-weight: 400;
                          color: rgba(0, 0, 0, 0.54);
                          font-size: 11px;
                          line-height: 18px;
                          padding-top: 12px;
                          text-align: center;
                        "
                      >
                        <div>
                          Making history, art, culture and heritage accessible to
                          the masses through vernacular storytelling.
                        </div>
                      </div>
                    </div>
                  </td>
                  <td width="8" style="width: 8px"></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr height="32" style="height: 32px">
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  